<?xml version="1.0" encoding="ISO-8859-15"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>Gotta</display-name>
	<description>Gotta</description>

	<context-param>
		<param-name>pool</param-name>
		<param-value>java:comp/env/jdbc/Burke/</param-value>
		<description>Como buscar el pool de conexiones</description>
	</context-param>

	<listener>
		<listener-class>es.burke.gotta.Sesion</listener-class>
	</listener>

	<listener>
		<listener-class>es.burke.gotta.ContextListener</listener-class>
	</listener>
     
	
	<servlet>
		<servlet-name>ServletDatosWordApplet</servlet-name>
		<servlet-class>es.burke.gotta.dll.ServletDatosWordApplet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDatosWordApplet</servlet-name>
		<url-pattern>/datoFusion</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ServletSubirArchivos</servlet-name>
		<servlet-class>es.burke.gotta.ServletSubirArchivos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletSubirArchivos</servlet-name>
		<url-pattern>/subir</url-pattern>
	</servlet-mapping>
     

	
	
	
	<servlet>
		<servlet-name>ServletGraficas</servlet-name>
		<servlet-class>es.burke.gotta.ServletGraficas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletGraficas</servlet-name>
		<url-pattern>/grafica</url-pattern>
	</servlet-mapping>
	

	
	<servlet>
		<servlet-name>json</servlet-name>
		<servlet-class>es.burke.gotta.JSON</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>json</servlet-name>
		<url-pattern>/json</url-pattern>
	</servlet-mapping>




	<servlet>
   		<servlet-name>ws</servlet-name>
   		<display-name>Gotta Web service JSON</display-name>
   		<servlet-class>es.burke.gotta.ws.JSONWS</servlet-class>   		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ws</servlet-name>
		<url-pattern>/ws</url-pattern>
	</servlet-mapping>
	
	
	
	     
	<servlet>
		<servlet-name>filtrar</servlet-name>
		<servlet-class>es.burke.gotta.Filtrar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>filtrar</servlet-name>
		<url-pattern>/filtrar</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>buscar</servlet-name>
		<servlet-class>es.burke.gotta.Buscar</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>buscar</servlet-name>
		<url-pattern>/buscar</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>ServletValidaClave</servlet-name>
		<servlet-class>es.burke.gotta.ServletValidaClave</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletValidaClave</servlet-name>
		<url-pattern>/valida</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<servlet>
		<servlet-name>ServletSalir</servlet-name>
		<servlet-class>es.burke.gotta.ServletSalir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletSalir</servlet-name>
		<url-pattern>/salir</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>ServletExcel</servlet-name>
		<servlet-class>es.burke.gotta.ServletExcel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletExcel</servlet-name>
		<url-pattern>/exportar</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>ServletRecargaAplicacion</servlet-name>
		<servlet-class>es.burke.gotta.ServletRecargaAplicacion</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>ServletRecargaAplicacion</servlet-name>
		<url-pattern>/recarga</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>ServletGenInf</servlet-name>
		<servlet-class>es.burke.gotta.ServletGenInf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletGenInf</servlet-name>
		<url-pattern>/genera</url-pattern>
	</servlet-mapping>




	
	<servlet>
		<servlet-name>obtenerFichero</servlet-name>
		<servlet-class>es.burke.gotta.ObtenerFichero</servlet-class>
	</servlet>		
   	<servlet-mapping>
		<servlet-name>obtenerFichero</servlet-name>
		<url-pattern>/obtenerFichero</url-pattern>
	</servlet-mapping>
  
	



	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain;charset=UTF-8</mime-type>
	</mime-mapping>	
	
	<welcome-file-list>
		<welcome-file>explorador.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>500</error-code>
		<location>/error500.jsp</location>
	</error-page>
</web-app>
