body {font-family:tahoma; font-size:10px; }

body.mapatram .section.clsPane#__panelAcciones__{background-color:#E4E8F1;}

div.filaMapa{display:block;left:0px;top:0px; margin-top:15px;margin-left:50px;}
div.filaMapa#fila0{margin-top:50px;}
/*div.escala025 div.filaMapa{height:100px; }
div.escala05 div.filaMapa{height:120px; }
div.escala1 div.filaMapa{height:180px; }
*/

/* leyenda */
div#leyenda {
	/*width:740px; */
	overflow:hidden;
	
	position:fixed;
	
	background-color:black;
	left:0px;top:0px;height:20px;
	
	border-radius-topright:3px;
	border-radius-bottomright:3px;
	z-index:5;
	
	padding-bottom:0;
	padding-right:5px;
	padding-top:5px;

	margin:0px;
	}
div#leyenda a{
		border:none;
		color:white !important;
	}
a.botonera.texto.gris{margin-left:2px; margin-right:2px;}
a#libres {background-image:url(mapatram.libres.png); }
a#nuevoCamino {background-image:url(addoff.png); margin-left:3px; margin-right:2px; padding-bottom: 4px;}
a#nuevoCamino:hover{background-image:url(addon.png);}

a#tamanho1{background-image:url(mapatram.tamanho.1.png);}
a#tamanho2{background-image:url(mapatram.tamanho.2.png);}
a#tamanho3{background-image:url(mapatram.tamanho.3.png);}

a#nuevoTramite {background-image:url(addoff.png); padding-bottom: 4px;}
a#nuevoTramite:hover{background-image:url(addon.png);}

select#listaCaminos {
	width:520px;
	background-color:black;
	color:white;
	border:1px solid silver;
	font-size:100%;
	margin-top: -2px; 
	}
/* fin barra de herramientas*/


/* relaciones */
.rayah, .rayav {position:absolute; background-color: transparent; border:0px Gold solid; }
.rayah {border-width: 1px 0px 0px 0px;}
.rayav {border-width: 0px 0px 1px 1px;}
/*.rayav  {border-radius-bottomleft:4px;}*/

/*resumen del trámite*/

div.info {
	position:absolute;
	bottom:0px; 
	padding-left:25px;
	padding-bottom:3px;
	
	z-index:1;
	}
ul.dll{
	background-repeat:no-repeat;
	background-position:left center;
	
	padding-left:3px ; 
	list-style-type:none;
	
	margin:0px;
	min-height:18px;
	}
div.listaSubs{padding-left:0; white-space:normal;}
ul.dll{
	border-left:1px dotted SeaGreen;
	}
li.dll{
	margin-right:3px;
	display:-moz-compact;
	color:#666666;
	}
li.dll{height:16px;}
li.dll:after{
	content:", ";/*content:" » ";*/
	}
li.dll:last-child:after, li.tramites:last-child:after {
	content:"";
	}

li.dll{	background-repeat:no-repeat; background-position:left center;padding-top:2px; padding-bottom:2px; padding-left:18px;}
div.listaSubs div.tram{
	display:-moz-groupbox;
	overflow:hidden;
	margin:2px;
	}
div.escala025 div.listaSubs{display:none}
div.escala05 div.listaSubs div.tram{height:40px; width:70px;}
div.escala1 div.listaSubs div.tram{height:40px; width:70px;}
	
li.dll.gotta{padding-left:0px; /*display:none;*/}
li.dll.dllarchivos{background-image:url(ext.archivos.png);}
li.dll.dllcorreo{background-image:url(ext.email.png);}
li.dll.dllsubirficheros{background-image:url(ext.dllsubirficheros.png);}
li.dll.firma{background-image:url();}
li.dll.gotta_word{background-image:url(ext.word.png);}
li.dll.informejasper{background-image:urlext.(pdf.png);}
li.dll.wordcliente{background-image:url(ext.word.png);}
li.dll.gotta_sql{background-image:url(ext.gotta_sql.png);}
li.dll.dllshellopen{background-image:url(ext.box.png);}
li.dll.letrasdigitoscontrol{background-image:url(ext.letrasdigitoscontrol.png);}

/*span.gotta, span.pbs_numeradores, span.general, span.gottaweb {display:none !important;}*/

img.sepBotonera {
display:inline;
}

div.ds {background-color:inherited;text-align:left;}

div.contTram{
	vertical-align:top;
	position:relative; 
	display:inline-block;
	/*margin-left:100px;*/
	top:0px;
	overflow:visible; 
	}
div.tram {
	cursor:pointer;
	background-color:lavender;
	-moz-box-shadow:3px 3px 3px lightgray;
	border-radius:8px;
	
	position:relative; z-index:2;
}
div.estado{
	background-color:lightSteelBlue;
	opacity:.4;
	
	position:relative; z-index:1;
	
	height:18px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	}
span.estado{position:relative; width:230px;}

div.tram.ejecutado{background-color:ghostwhite;}
div.tram.pendiente{background-color:LightSteelBlue;}
div.tram.copia{opacity:.5; }
div.tram.resaltado{background-color:LightBlue; z-index:3; opacity:1 !important;}
div.tram.resaltado div.cd{background-color:black;}
div.tram:hover a.operaciones{visibility:visible; display:block;}
div.escala025 div.tram:hover a.implementado{
	display:block;
	}

div.tram a{
	cursor:pointer;
	}



/* cabeceras de los boliches*/
div.cd{
	-moz-user-focus:none;
	-moz-user-select:none;
	
	border-radius:8px 8px 0px 0px;
	background-color:DimGray;
	color:white;
	font-weight: bold; 
	}
div.cd, div.ds{padding-left:5px;}

/* escala = 1 */
	div.escala1 div.tram {
		height:125px;
		width:185px;
		}
	div.escala1 div.estado{
		width: 265px; 
		
		margin-top: -150px; margin-left: -40px; 
		padding-bottom:160px;}
	div.escala1 span.estado{bottom:-165px;}
	div.escala1 div.ds {height:20px;}

/* escala = 0.50 */
	div.escala05 div.tram{
		height:90px;
		width:150px;
		}

	div.escala05 div.estado{
		margin-left:-30px;
		margin-top:-100px;
		padding-bottom:110px;	
		width:210px;
	}
	div.escala05 span.estado{bottom:-100px;}
/* escala = 0.25 /////////////////////////////////////// */
	div.escala025{/*margin-top:5px;*/}
	div.escala025 div.tram {
		height:45px;
		width:75px;
		}
		
	div.escala025 div.estado{
		width: 133%; 
		
		margin-top: -70%; margin-left: -15%; 
		padding-bottom:85%;}
	div.escala025 div.ds{display:none;}
	div.escala025 div.estado{display:none;}
	
div.contTram.firma div.tram{
	background-image:url(mapatram.firma.png);
	background-repeat:no-repeat;
	}
div.escala025 div.contTram.firma div.tram{background-position:40px 5px;}
div.escala05 div.contTram.firma div.tram{background-position:116px 48px;}
div.escala1 div.contTram.firma div.tram{background-position:150px 80px;}
	
div.info div.ds_tramite {color:gray; margin-bottom:2px;}

div.cd_tramite {
	font-weight: bold; 
	-moz-user-focus:none;
	-moz-user-select:none;
	margin-left:61px;
	margin-top:9px;
	margin-right:10px;
	font-size:130%;
	}




div.foco {
	position:absolute; 
	
	border: 1px solid green;
	background-color: limegreen;
	border-radius:4px;
	opacity: 0.3;
	z-index:4;
	
	margin-left: -15px;
	margin-top:-15px; 
	
	padding-bottom:30px; 
	padding-right: 30px;
	}
	
a.operaciones, a.implementado{
	background-repeat:no-repeat;
	
	z-index:5;
	}
a.operaciones{
	background-position:left bottom;
		
	position:absolute;
	bottom:0px; right:0px;
	width:13px; height:13px;
	display:none;
	}
a.operaciones.anhadirHijo {background-image:url(mapatram.addoff.12.png); margin-right:26px;}
a.operaciones.editar {background-image:url(mapatram.modoff.12.png);margin-right:13px;} 
a.operaciones.borrarHijo {background-image:url(mapatram.deloff.12.png);}

a.implementado{
	padding:7px 6px 14px 15px;
	position:absolute;
	z-index:6;
	right:-4px; top:-3px;
	background-image:url(mapatram.tram.implementado.png);
	background-position:left top;
	}
a.implementado.no_implementado{background-image:url(mapatram.tram.niImplementado.png);}
a.implementado.cargando{background-image:url(throbber.gif) !important; display:block !important;}

span.for, span.eje, span.sub{}

div.escala05 div.info{display:none;}
div.escala025 div.info{display:none;}

div.escala025 a.implementado{
	display:none;
	}

div.noHayFilas {margin-top:200px; text-align:center; font-size:110%;}