/* -----------------------------------Para los cal----------------------------------------------*/
Table.cal {
	background-color:#ff00000;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    border-style: inset;
    border-color: ;
}
TH.cal {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	background : #eeeeee;
	color :#000000;
	vertical-align : middle;
	text-align : center;
	font-weight : bold;
		
}
TD.cal {
	font-family : Arial, Helvetica, sans-serif;
	color : #000000;
	font-size : 10px;
	text-align : center;
	vertical-align : middle;
	background : #ffffff;
}
A.cal:link{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	color: #001A5F;
	font-size : 10px;
	text-align: left;
	TEXT-DECORATION: none;
}
A.cal:hover{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	color: #001A5F;
	font-size : 10px;
	text-align: left;
	TEXT-DECORATION: none;
	background : #C6E7EF;
}
A.cal:active;A.cal:visited{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	color: #001A5F;
	font-size : 10px;
	text-align: left;
	TEXT-DECORATION: none;
	}
div.calen.cal {
scrollbar-face-color: #068CBA;
scrollbar-shadow-color: #068CBA;
scrollbar-highlight-color: #068CBA;
scrollbar-darkshadow-color: #C6E7EF;
scrollbar-track-color: #C6E7EF;
scrollbar-arrow-color: #C6E7EF;
scrollbar-3dlight-color: #C6E7EF;
background-color:#BFDCC0;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 10px;
color: #B66369;
border-style: inset;
height:60px;
}



/* - COLORES DE LOS VINCULOS DEL PANEL IZQUIERDO REFERIDO AL ESTILO DE LOS MODOS DEL ÁRBOL - */
.contenido{
	font-family : Arial, Helvetica, sans-serif;
	/*color: #802E44;*/
      color: #3366ff;
	font-size : 10px;
	text-align: left;
	TEXT-DECORATION: none;
	}
A.contenido{
	font-family : Arial, Helvetica, sans-serif;
	color: #3366ff;
	font-size : 10px;
	text-align: left;
	TEXT-DECORATION: none;
}
A.contenido:link{
	font-family : Arial, Helvetica, sans-serif;
	color: #3366ff;
	font-size : 10px;
	text-align: left;
	font-weight: bold;
	TEXT-DECORATION: none;
}
A.contenido:hover{
	font-family : Arial, Helvetica, sans-serif;
	color: #3366ff;
	font-size : 10px;
	text-align: left;
	TEXT-DECORATION: none;
	font-weight: bold;
	background : #dddddd;;
}
A.contenido:active;A.contenido:visited{
	font-family : Arial, Helvetica, sans-serif;
	color: #3366ff;
	font-size : 10px;
	text-align: left;
	font-weight: bold;
	TEXT-DECORATION: none;
	}
/* - FIN COLORES DE LOS VINCULOS DEL PANEL IZQUIERDO REFERIDO AL ESTILO DE LOS MODOS DEL ÁRBOL - */	

/*---------------------------------------------*/

/* - ESTILO PARA EL TEXTO QUE ESTÁ EN LA CELDA DE LOS TXT DE LOS FORMULARIOS DINÁMICOS - */	 
.textog{
	font-family : Arial, Helvetica, sans-serif;
	color: #4A4A4A;
	font-size : 10px;
	text-align: justify;
	text-decoration : none;
	}
/* - FIN ESTILO PARA EL TEXTO QUE ESTÁ EN LA CELDA DE LOS TXT DE LOS FORMULARIOS DINÁMICOS - */

/* --------------------Para un texto en campos obligatorios--------------------*/ 

.obligatorio{
	font-family : Arial, Helvetica, sans-serif;
	color: Black;
	font-size : 11px;
	font-weight : bold;
	text-align: right;
	text-decoration : none;
}

/*---------------------------------------------*/

/* - ESTILO DEL TEXTO DE LAS PESTAÑAS DE LAS FICHAS - */

A.pestanas, A.pestanas:visited, A.pestanas:link {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	text-transform: uppercase;
	color:#802E44;
	text-align : center;
	text-decoration : none;
	text-decoration : none;
	border:none;
}

A.pestanas:hover, A.pestanas:active {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	text-transform: uppercase;
	color: #802E44;
	text-align : center;
	text-decoration : none;
	/*background-color: #7A7171;*/

	border:none;
	/*	background-image : url(../images/solapa1.gif);*/
	cursor: hand;
}

/* - FIN ESTILO DEL TEXTO DE LAS PESTAÑAS DE LAS FICHAS - */

/*---------------------------------------------*/

/* - ESTILO PARA LOS BOTONES DEL BUSCADOR, FORMULARIOS Y MENSAJES - */

input.button.cmd{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #802E44;
	border-width : 1px;
	border-style : solid;
	text-align : center;
	background :#F2F2F2;
	border-color : #802E44 #802E44 #802E44 #802E44;

}



/* - FIN ESTILO PARA LOS BOTONES DEL BUSCADOR, FORMULARIOS Y MENSAJES - */

/*---------------------------------------------*/

/* - ESTILO DE LOS BOTONES DE LOS BUSCADORES DEL MODO DETALLE - */

input.button.cmd_bsp{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #802E44;
	border-width : 1px;
	border-style : solid;
	text-align : center;
	background :#F2F2F2;
	border-color : #802E44 #802E44 #802E44 #802E44;
}

/* - FIN ESTILO DE LOS BOTONES DE LOS BUSCADORES DEL MODO DETALLE - */

/*---------------------------------------------*/

/* - ESTILO DE LA CABECERA DE LAS LISTAS (LISTAS LVW Y SORTABLES) - */

TABLE.lvw {
	background-color : F6F7F8;
}

TH.lvw {
	font-family : Arial, Helvetica, sans-serif;
	/*color : #181818;*/ 
	color : #5B5B5B;
	font-size : 9pt;
	/*background : #A2A2A3;*/
	background : #D3D3D3;
	vertical-align : middle;
	text-align : center;
	white-space: nowrap;
	/*height: 35px;*/
	/*border-top: solid 1px #AAAB8B;
	border-bottom: solid 1px #AAAB8B;*/
}

TD.lvw {
	font-family : Arial, Helvetica, sans-serif;
	color :#4A4A4A;
	font-size : 8pt;
	text-align : left;
	white-space: nowrap;
	/*background : #F6F7F8;*/
}

.lvwResaltado {
	font-family : Arial, Helvetica, sans-serif;
	color : #4A4A4A;
	background : #CECDCD;
	font-size : 8pt;
	text-align : right;
	font-weight: bold;
}

TD.lvw_num {
	font-family : Arial, Helvetica, sans-serif;
	color : #4A4A4A;
	/*background : #F6F7F8;*/
	font-size : 8pt;
	text-align : right;
	white-space: nowrap;
}

.lvw_num {
	font-family : Arial, Helvetica, sans-serif;
	color : #4A4A4A;
/*	background : #F7F6EC;*/
	font-size : 8pt;
	text-align : right;
}

.lvw_numResaltado {
	font-family : Arial, Helvetica, sans-serif;
	color : #4A4A4A;
	background : #CECDCD;
	font-size : 8px;
	text-align : right;
	font-weight: bold;
}


table.sortable tr {
	cursor: hand;
	
}

table.sortable {
	background-color:#515151;/*Este color nos da el color de borde de las celdas*/
	
}

table.sortable a.sortheader {
    /*color: #181818;*/
	color : #5B5B5B;
    font-weight: bold;
    text-decoration: none;
    display: block;
	/* background-color: #A2A2A3;*/
	 background-color : #D3D3D3;
	 
}
table.sortable span.sortarrow {
    color: #181818;
    text-decoration: none;
	
}

#Layer1 {
	background-color: #f6f7f8;
}
/* - FIN ESTILO DE LA CABECERA DE LAS LISTAS (LISTAS LVW Y SORTABLES) - */

/*---------------------------------------------*/

/* - ESTILO PARA LOS SCROLL - */

/* SCROLL EN FICHAS  */
.ficha {
scrollbar-face-color: #8F888F;
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #CAC7CA;
scrollbar-darkshadow-color: #B3B3B3;
scrollbar-track-color: #E5E5E5;
scrollbar-arrow-color: #333333;
scrollbar-3dlight-color: #959196;
}


/* SCROLL EN PANEL IZQUIERDO  */
#panelIzq {
scrollbar-face-color: #8F888F;
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #CAC7CA;
scrollbar-darkshadow-color: #B3B3B3;
scrollbar-track-color: #E5E5E5;
scrollbar-arrow-color: #333333;
scrollbar-3dlight-color: #959196;
}


/* SCROLL EN PANEL DERECHO  */
#panelDer  { 
scrollbar-face-color: #8F888F;
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #CAC7CA;
scrollbar-darkshadow-color: #B3B3B3;
scrollbar-track-color: #E5E5E5;
scrollbar-arrow-color: #333333;
scrollbar-3dlight-color: #959196;
}
 
/* - FIN ESTILO PARA LOS SCROLL - */

/*---------------------------------------------*/


/* - ESTILO PARA LOS MENÚS CONTEXTUALES EN LAS LISTAS LVW - */

.skin0{
	font-family: Arial;
	font-size : 10px;
	color: #515151;
	position:absolute;
	width:175px;
	border:2px solid;
	border-color: #515151;
	background-color: #E7AD00;
	font-size: 10px;
	line-height:15px;
	cursor:default;
	visibility:hidden;
}
.menuitems{
	padding-left:10px;
	padding-right:10px;
}

/* - FIN ESTILO PARA LOS MENÚS CONTEXTUALES EN LAS LISTAS LVW - */

/*---------------------------------------------*/

/* - ESTILO DE LAS LISTAS DE LOS BUSCADORES - */

th.cabecera {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: white;
	background: #802E44;
	text-align: left;
}
TR.lineabuscador {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color : black;
	cursor:hand;
}

/* - FIN ESTILO DE LAS LISTAS DE LOS BUSCADORES - */

/*---------------------------------------------*/

/* - ESTILO DE CAMPOS DE TEXTO Y TEXAREAS - */

input.txt {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #A4A4A4;
	border-width : 1px;
	border-style : solid;
	text-align : left;
	border-color :#A4A4A4;
	background : #F6F6EC;;
}

/*Estilo de campos bloqueados en los formularios dinámicos, txt de sólo lectura*/

input.txt_sl {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #A4A4A4;
	border-width : 1px;
	border-style : solid;
	text-align : left;
	border-color :#A4A4A4;
	background : #F6F6EC;
}

/* - FIN ESTILO DE CAMPOS DE TEXTO Y TEXAREAS - */

/*---------------------------------------------*/

/* - PARA LOS CONTROLES CALENDARIO - */

/* -----------------------------------Estilos para el calendario----------------------------------------------*/
.pelao{
	font-weight: bold; 
	color:#00FF00; 
	border-style: solid; 
	border-color:#0051A0; 
	border-width: 1px;
}
td.cabe {
	text-align:center;
	font-weight:bold;
	color:#0051A0;
	background-color:#23A6DD;
	font-size:10px; 
	font-family:Arial, Verdana, Helvetica, sans-serif
}
td.par {
	text-align:center;
	color:#0051A0;
	background-color:#A7DBF1;
	font-size:10px; 
	font-family:Arial, Verdana, Helvetica, sans-serif
}
td.impar {
	text-align:center;
	color:#0051A0;
	background-color:#ffffff;
	font-size:10px; 
	font-family:Arial, Verdana, Helvetica, sans-serif
}
Input.boton {
	font-size:10px; 
	font-family:Arial, Verdana,Arial, Helvetica, sans-serif; 
	font-color:#0051A0
}
A.cal {
	font-size:10px; 
	text-decoration:none;
	color:#0051A0
}
/* - FIN PARA LOS CONTROLES CALENDARIO - */

/*---------------------------------------------*/

/* - ESTILO PARA LOS RADIO BUTTON Y LOS OPTION - */

input.radio {
	font-family : Arial, Helvetica, sans-serif;
	color : #4A4A4A;
	font-size : 9px;
	border-width : 0px;
	border-style : solid;
	border-color : #666666;
	background : #FFFFFF;
	
}

.option {
	font-family : Arial, Helvetica, sans-serif;
	color : #4A4A4A;
	font-size : 9px;
	border-color : #666666 #666666 #666666 #666666;
	border-width : 1px;
	border-style: solid;
	background : #FFFFFF;
}

/* - FIN ESTILO PARA LOS RADIO BUTTON Y LOS OPTION - */

/*---------------------------------------------*/

/* - ESTILO PARA LOS BOTONES DE MODOS DETALLE  - */
input.button.cmd_det{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #484848;
	border-width : 2px;
	border-style : solid;
	text-align : center;
	background :#F2F2F2;
	border-color : #4A4A4A #4A4A4A #4A4A4A #4A4A4A;

}

/* - FIN ESTILO PARA LOS BOTONES DE MODOS DETALLE  - */

/*---------------------------------------------*/

/* - ESTILO PARA LOS FORMULARIOS DINÁMICOS - */ 
#formulario {
	background-image: url(icoCajaEspana/frm_raya.png);
	background-repeat: repeat-y;
}
#tabla_frm {
	padding: 5px;
	border-right: 2px dotted #802E44;
	border-left: 2px dotted #802E44;
	border-bottom: 2px dotted #802E44;	
	background-color: #F6F7F8;
	/*background-image:url(ImagenesGotta/logo.png);*/
	background-position: bottom right;
	background-repeat: no-repeat;
}
.titulo_frm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;  
	margin-left: 20%;
	color: #802E44;
	font: bold;
	background-color: #E5E5E5;
	background-image: url(icoCajaEspana/flecha_titular.png);
	background-position: left;
	background-repeat: no-repeat;
}
	
hr.linea_frm{
	border: 2px solid #7A7171;
	background-color: #F9FAFF;
	width: 80%;
}
td.cabecera{
	background-color:#F6F7F8;
	border-right: 2px dotted #802E44;
	border-top: 2px dotted #802E44;
}
/*td.icono{
	background-image:url(icoCajaEspana/toro.png);
	width: 79px ; 
	height: 43px;
}*/
/* - FIN ESTILO PARA LOS FORMULARIOS DINÁMICOS - */ 

/*---------------------------------------------*/

/* - ESTILO PARA LOS TEXTOS DE ERROR DE LOS FORMULARIOS DINÁMICOS - */

.txterror_frm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #181818;
	font-weight: bold;
}

/* - FIN ESTILO PARA LOS TEXTOS DE ERROR DE LOS FORMULARIOS DINÁMICOS - */

/*---------------------------------------------*/

/* - ESTILO PARA LOS MSN DE LOS FORMULARIOS DINÁMICOS - */

/* ----------------------------Mensajes: acción MSG ------------------------------*/ 
td.txtmsg {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #181818;
}

/* - FIN ESTILO PARA LOS MSN DE LOS FORMULARIOS DINÁMICOS - */

/*---------------------------------------------*/

/* - ESTILO PARA EL PANEL SUPERIOR (Complementa a propiedades de Dic Configuración)- */ 

td.ml {
	width: 30px;
text-align : center;
}

/* - FIN ESTILO PARA EL PANEL SUPERIOR (Complementa a propiedades de Dic Configuración)- */ 

/*---------------------------------------------*/

/* - ESTILOS CONTENIDOS, TÍTULOS Y SUBTÍTULOS - */ 
p {
   font-family : Arial, Helvetica, sans-serif;
	color : #181818;
	font-size : 14px;
	font-weight : bold;
	text-align : left;
	text-decoration : blink;
}

P.titulo {
   font-family : Arial, Helvetica, sans-serif;
	color : #181818;
	font-size : 14px;
	font-weight : bold;
	text-align : left;
	text-decoration : blink;
}

.titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	/*text-align: center; */
	color: white;
 	font: bold;
	text-align: center; 	
	background-color: #802E44;
	width: 300px;
	background-position: center;
	background-repeat: no-repeat;
}

P.subtitulo{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #181818;
	font-weight : bold;
	text-align: center;
}

.subtitulo{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #181818;
	font-weight : bold;
	text-align: center;
}

/* - FIN ESTILOS CONTENIDOS, TÍTULOS Y SUBTÍTULOS - */ 

/*---------------------------------------------*/

/* - ESTILO DE TEXTO SIN VÍNCULO (color negro derecha) - */ 
.lbl{
	font-family : Arial, Helvetica, sans-serif;
	color: #515151;
	font-size : 10px;
	text-align: right;
	text-decoration : none;
}

/* - FIN ESTILO DE TEXTO SIN VÍNCULO (color negro derecha) - */ 

/*---------------------------------------------*/

/* - ESTILOS PARA LAS LISTAS - */
UL {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8px;
	color: red/*#9AA1A5*/;
	list-style-type : disc;
	padding-left : 25px;
	margin-left : 10px;
	margin-top : 0px;
	margin-bottom : 0px;
	text-align : justify;
}

OL {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #9AA1A5;
	padding-left : 25px;
	margin-left : 10px;
	margin-top : 0px;
	margin-bottom : 0px;
	text-align : justify;
}

LI {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color: #9AA1A5;
}

/* - FIN ESTILO PARA LAS LISTAS - */

/*---------------------------------------------*/

/* - ESTILO PARA LOS TEXAREA - */

textarea {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	background : #F6F6EC;
	color : #515151;
	border-color : #515151;
	border-width : 1px;
	border-style : solid;
	/*scrollbar-face-color: #9DD76D;
	scrollbar-shadow-color: #69B22C;
	scrollbar-arrow-color: #F6F6EC;*/
	scrollbar-face-color: #8F888F;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #CAC7CA;
	scrollbar-darkshadow-color: #B3B3B3;
	scrollbar-track-color: #E5E5E5;
	scrollbar-arrow-color: #333333;
	scrollbar-3dlight-color: #959196;
}
	

/* - FIN ESTILO PARA LOS TEXAREA - */

/*---------------------------------------------*/

/* - PANEL SUPERIOR - */

#panelSuperior {
	background-image: url("icoCajaEspana/linia.jpg");
	background-repeat: repeat-y;
	background-color:yellow;
}
TD.psinicio {
	background-image:url("ico/ps_inicio.png");
	background-repeat: repeat;
	width:10px;
	/*width:20px;*/
}
TD.psmedio {
	background-image:url("ico/ps_medio.png");
	background-repeat: repeat;
}
TD.psfin {
	background-image:url("ico/ps_fin.png");
	background-repeat: repeat;
	width:10px;
}
.pstitulo {
	font-family : Arial, Helvetica, sans-serif;
	color : #FFFFFF;
	font-size : 14px;
	font-weight : bold;
}

/* - FIN PANEL SUPERIOR - */

/*---------------------------------------------*/

/* - ESTILO PARA PÁGINAS PROCESANDO, ESPERE… (también hay propiedades en panelOculto.jsp) - */

.procesando {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 18px;
	color : #4A4A4A;
	}

.espere {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	text-justify: distribute;
	color : #4A4A4A;
	}

/* - FIN ESTILO PARA PÁGINAS PROCESANDO, ESPERE… (también hay propiedades en panelOculto.jsp) - */


A.nodopaginar{
	font-family : Arial, Helvetica, sans-serif;
	color: #802E44;
	font-size : 10px;
	text-align: left;
	TEXT-DECORATION: none;
}
A.nodopaginar:hover{
	font-family : Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size : 10px;
	text-align: left;
	font-weight: bold;
	TEXT-DECORATION: none;
	background : #802E44;
}
.est_reserva{
	color:red;
}
.est_confirmado{
	color:green;
}
/*detalles*/
div.titulo1{
	background-color:#595959;
	text-align: left;
	font-size:11pt;
	color:#ffffff;
	font-family:arial,helvetica,sans-serif;;
}
div.titulo1-negrita{
	background-color:#595959;
	font-size:11pt;
	color:#ffffff;
	font-weight:bold;
	font-family:arial,helvetica,sans-serif;;
}